<h2>Recipes</h2>

<h3>Name:</h3>
<h4><%= @recipe.name %></h4>
<h3>Ingredients:</h3>
<h4><%= @recipe.ingredients %></h4>
<h3>Instructions:</h3>
<h4><%= @recipe.instructions %></h4>

<br><a href="recipes/<%= @recipe.id %>/edit">Edit Recipe</a></br>
<a href="recipes/id/delete">Delete Recipe</a>